@media screen and (max-width: 600px) {
  /* Estilos para telas pequenas */
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para telas médias */
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  /* Estilos para telas grandes */
  body {
    font-size: 18px;
  }
}

#num1 {
  display: grid;
  justify-self: center;
}
#num2 {
  display: grid;
  justify-self: center;
}
body {
  margin: 0;
  background-color: #f1f1f1;
}
h1 {
  padding-bottom: 20px;
  font-size: 30px;
  font-family: cursive;
  text-align: center;
  margin-top: 3%;
  color: darkgreen;
}
h2 {
  font-family: unset;
  text-align: center;
  color: darkgreen;
  margin-left: 1%;
}
.valores {
  display: grid;
  text-align: center;
}
.label {
  /* margin-left: 900%; */
  font-size: 28px;
  /* background-color: blue; */
}
/* Estilizando o botão */
button {
  margin-left: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="number"] {
  /* text-align: center; */
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70px;
  height: 13px;
}
table {
  padding-left: 6px 6px 6px 6px;
  border-collapse: collapse;
  margin-left: 44%;
}
th {
  padding: 5px;
  background-color: darkseagreen;
  font-size: large;
}

tbody {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}
